
<button onclick="getLocation()" class="btn btn-success btn-base-1 z-depth-2-top" type="button">
			Find Velib around me
</button>

<div id="loading"></div>

<script>
function getLocation() {

// document.getElementById("loading").style.display = "block";
 
if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(pos) {
    //You have your locaton here
      console.log("Latitude: " + pos.coords.latitude +
        "Longitude: " + pos.coords.longitude);

      window.location.replace("/?latitude=" + pos.coords.latitude +"&longitude=" + pos.coords.longitude);
    console.log("ca passe")	
    });
  } else {
    console.log("Geolocation is not supported by this browser.");
  }
}

</script>


<script>
function displayloading() {
  document.getElementById("loading").style.display = "block";
}
</script>





<%=@stations.each do|station|%>

<p>
<%=station[:name]%><br>
Vélos disponibles : <%=station[:free_bikes]%><br>
Emplacements libres : <%=station[:empty_slots]%>
</p>

<%end%>

